.main {
  margin: 2% 20% 2% 20%;
  padding: 10px;
}

.basic-info {
  display: flex;

  .img {
    height: 250px;
    width: 120px;
    text-align: center;
  }

  .main-info {
    margin-left: 2% !important;
  }
}
