.body {
  margin: 0;
}

.wrapper {
  height: 100vh; /*for demo only*/
  overflow: auto;
}

.main {
  width: 40%;
  margin: auto;
  margin-top: 3%;
}

.img-basic-info {
  display: flex;

  .img-left-corner {
    /* height: 250px;
    width: 100px !important;
    text-align: center;
    margin-right: 30px !important; */
  }
}
