.body {
  margin: 0;
}

.wrapper {
  height: 100vh;
  overflow: auto;
}

.main {
  width: 40%;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 5%;
}

.img-basic-info {
  display: flex;
}

.left-corner {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dotted rgb(80, 79, 79);
  border-radius: 1em;
  margin-right: 10px;
}
